name: duozzflow
description: Duozz Flow - Plataforma de gerenciamento de equipes de edicao de video.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  provider: ^6.1.1
  http: ^1.1.2
  socket_io_client: ^2.0.3+1
  shared_preferences: ^2.2.2
  intl: ^0.19.0
  cached_network_image: ^3.3.0
  flutter_slidable: ^3.0.1
  shimmer: ^3.0.0
  fl_chart: ^0.65.0
  flutter_colorpicker: ^1.0.3
  image_picker: ^1.0.7
  file_picker: ^10.0.0
  mime: ^1.0.5
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
